*{
    background-color: burlywood;
}
.valores{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #39c;
    font-size: 18px;
}
.valorABuscar{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #39c;
    font-size: 18px;
}
.textoInput{
    padding: 20px 5px 10px 10px;
    
}
.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #45a049;
  }
  .my-button:active {
    background-color: #3e8e41;
  }
